<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
     <bindings>
        <basicHttpBinding>
          <binding name="ListarPedimentosServiceWSEndPoint" allowCookies="true" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000">
            <security mode="TransportWithMessageCredential" />
          </binding>
          <binding name="ConsultarPedimentoCompletoServiceWSEndPoint">
            <security mode="TransportWithMessageCredential" />
          </binding>
          <binding name="ConsultarPartidaServiceWSEndPoint">
            <security mode="TransportWithMessageCredential" />
          </binding>
        </basicHttpBinding>
      </bindings>
        <client>
            <endpoint address="https://www.ventanillaunica.gob.mx:443/ventanilla-ws-pedimentos/ListarPedimentosService"
                binding="basicHttpBinding" bindingConfiguration="ListarPedimentosServiceWSEndPoint"
                contract="ListarPedimentoService.ListarPedimentosServicePortType"
                name="ListarPedimentosServiceWSEndPoint" />
            <endpoint address="https://www.ventanillaunica.gob.mx:443/ventanilla-ws-pedimentos/ConsultarPedimentoCompletoService"
                binding="basicHttpBinding" bindingConfiguration="ConsultarPedimentoCompletoServiceWSEndPoint"
                contract="PedimentoService.ConsultarPedimentoCompletoServicePortType"
                name="ConsultarPedimentoCompletoServiceWSEndPoint" />
            <endpoint address="https://www.ventanillaunica.gob.mx:443/ventanilla-ws-pedimentos/ConsultarPartidaService"
                binding="basicHttpBinding" bindingConfiguration="ConsultarPartidaServiceWSEndPoint"
                contract="PartidaService.ConsultarPartidaServicePortType"
                name="ConsultarPartidaServiceWSEndPoint" />
        </client>
     
    </system.serviceModel>
</configuration>